<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
    <title>TodoList</title>
</head>
<body>
    <v-app id="app">
        <v-app-bar color="primary" dark app>
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
            <v-toolbar-title>{{ $route.meta.title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn text to="/">Home</v-btn>
                <v-btn text to="/404">Erro 404</v-btn>
            </v-toolbar-items>
        </v-app-bar>
        <v-content>
            <router-view></router-view>
        </v-content>

        <div class="text-center ma-2">
            <v-snackbar
              v-model="snackbar.show"
              :color="snackbar.color"
              right>
                <v-icon dark>{{snackbar.icon}}</v-icon> {{snackbar.message}}
                <v-btn
                  text
                  color="white"
                  @click="snackbar.show = false">
                  Fechar
                </v-btn>
            </v-snackbar>
        </div>
    </v-app>
</body>
</html>